{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": 7 } }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }]
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-modules-commonjs"
  ]
}