@import '../../assets/scss/utilities.scss';

.TitleBar {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: lighten(color(primary), 11.76);
  color: invert(color(primary));
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;

  &Button {
    @include font-size(12);
    -webkit-app-region: no-drag;
    width: 42px;
    height: 100%;
    transition: background-color;
    color: color(f);

    &:not([disabled]) {
      &:hover,
      &:focus {
        outline: none;
        background-color: rgba(color(f), .1);
      }
    }

    &[disabled] {
      opacity: .3;
      cursor: auto;
    }

    &Ctn {
      height: 100%;
    }

    &Close:not([disabled]) {
      &:hover, &:focus {
        background-color: color(danger);
      }
    }
  }
}
