@import '~styles/utilities.scss';

.TutorialPoly {
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 90;
  pointer-events: none;

  &BackDrop {
    fill: color(grey999);
    opacity: .8;
    pointer-events: all;
  }
}
