@import '@/assets/scss/utilities.scss';

.MCDEnchantmentEditor {
  position: absolute;
  top: 0;
  left: 0;
  width: 66.66666%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(90deg, rgba(color(0), .5) 0%, rgba(color(0), .5) 80%,  transparent 100%);

  &Container {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../../../static/img/UI/parchment.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 70px 110px;
    color: color(0);

    h2 {
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &Left, &Right {
    height: calc(100% - 48px);
  }

  &Left {
    @include font-size(14);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h3 {
      @include font-family('open-sans', 700);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        input[type="checkbox"] {
          display: none;

          &+label {
            padding: 5px 0 5px 5px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: rgba(color(0), .5);
          }
        }

        &:not(.checked):first-of-type,
        &.checked+li:not(.checked),
        &.checked+.checked+li:not(.checked) {
          background-color: #F3E2C9;
          position: relative;

          &::after {
            content: '';
            border-left: 17px solid #F3E2C9;
            border-top: 17px solid transparent;
            border-bottom: 17px solid transparent;
            position: absolute;
            top: 0;
            left: 100%;
          }

          .tier::before {background-color: #428D4F;}

          input[type="checkbox"]+label {
            color: color(0);
          }
        }

        &.checked input[type="checkbox"]+label {
          color: color(0);
        }
      }
    }

    .tier {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: color(f);
      width: 24px;
      height: 24px;
      margin-right: 10px;
      position: relative;
      flex: none;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: #948270;
        border: 2px solid color(f);
        transform: rotate(45deg);
        transform: rotate(45deg);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }

      span {
        @include font-family('open-sans', 700, true);
        @include font-size(13);
        position: relative;
        z-index: 1;
        letter-spacing: 1px;
      }
    }

    .icon-checked {
      @include font-size(24);
      margin-right: 10px;
    }
  }

  &Right {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-left: 32px;

    img {
      width: 130px;
      height: 130px;
    }
  }

  &Cost {
    @include font-family('open-sans', 700);
    background-color: #F3E2C9;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #CBB395;
    box-shadow: 0 0 0 4px #F3E2C9;
    position: relative;
    width: calc(100% - 8px);
    margin: 0 4px;

    img {
      width: auto;
      height: 24px;
      margin-right: 8px
    }

    span {
      @include font-size(12);
      text-align: center;
      display: block;
      margin-bottom: 4px;
    }

    p {
      @include font-size(20);
      line-height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }
}
