@import '@/assets/scss/utilities.scss';

.MCDGears {
  position: relative;
  padding: 45px 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  &Containers {
    display: flex;
    justify-content: space-between;

    .MCDItem {
      &:nth-child(1),
      &:nth-child(3) {
        margin-top: 30px;
      }

      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }
  }

  &Skin {
    width: 90px;
    height: calc(90px / 0.6171428571428571);
  }

  .MCDLevelBadge {
    width: 70px;
    position: absolute;
    left: 20px;
    top: calc(50% - 20px);
  }

  .MCDItem {
    height: 74px;

    &--Empty {
      width: 74px;

      .MCDItemTile {
        width: 74px;
        height: 74px;
      }
    }

    &--Unique,
    &--Rare {
      .MCDItemTile {
        width: 70px;
        height: 70px;
      }
    }

    &--Common .MCDItemTile {
      width: 74px;
      height: 74px;
    }

    .MCDItemTile {
      &.unique, &.rare {
        width: 66px;
        height: 66px;
        margin: 2px;
      }
    }
  }

  .MCDArtefacts {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}
