@import '~styles/utilities.scss';

.MCDGildedEnchant {
  @include set-font-scale(s);
  margin: 12px 0 0 0;
  display: flex;
  align-items: center;
  cursor: pointer;

  &Image {
    position: relative;
    height: 32px;

    img {
      width: 32px;
      height: 32px;
      position: relative;
      z-index: 1;
      filter: drop-shadow(1px 0px 0px gold) drop-shadow(0px 1px 0px gold) drop-shadow(-1px 0px 0px gold) drop-shadow(0px -1px 0px gold);
    }

    span {
      @include font-family('open-sans', 700, true);
      @include set-font-scale(xxs);
      color: gold;
      position: absolute;
      top: 2px;
      left: 22px;
      display: block;
      z-index: 2;
      width: 10px;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 0 0 4px color(grey999);
    }
  }

  &Name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 150px;
    white-space: nowrap;
    line-height: 32px;
    margin-left: 5px;
  }
}
