@import '@/assets/scss/utilities.scss';

.MCDGildedLabel {
  @include font-family('opensans', 700);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  margin-left: 6px;
  text-transform: uppercase;
  box-shadow: 3px 2px 0 rgba(color(0), .5);
  color: color(0);
  user-select: none;
  -webkit-user-select: none;
  background: url('../../../../static/img/UI/GildedBackground.png');
  background-size: 100% 100%;
}
