@import '~styles/utilities.scss';

.MCDInventory {
  flex-direction: column;
  height: 100%;
  filter: opacity(1);

  &Filters {
    display: flex;
    justify-content: space-between;
    padding: 10px calc((100% - 282px) / 2) 15px;
  }

  &Filter {
    position: relative;
    opacity: .5;

    i {
      @include set-font-scale(l);
    }

    span {
      display: none;
      position: absolute;
      bottom: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    &--Selected {
      opacity: 1;

      span {
        display: block;
      }
    }
  }

  &Items {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 3px calc((100% - 288px) / 2);
    max-height: 384px;
    overflow-y: auto;
    position: relative;

    &--Over {
      &::before {
        content: '';
        position: fixed;
        top: 43px;
        left: 20px;
        width: calc(100% - 44px);
        height: calc(100% - 49px);
        border: 2px solid color(grey000);
        border-radius: 3px;
        background-color: rgba(color(grey000), .3);
        z-index: 99;
      }
    }
  }

  .MCDItem {
    margin: 3px;
  }
}
