@import '../../assets/scss/utilities.scss';

.MCDItem {
  cursor: pointer;
  position: relative;

  &Empty {
    cursor: auto;

    &:after {
      content: "+";
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      font-size: 40px;
      align-items: center;
      justify-content: center;
    }
  }

  &.selected {
    position: relative;
    z-index: 1;

    &.DragHolded {
      &:before, &:after {content: none;}
    }

    &:before {
      content: "";
      background-color: color(f);
      width: calc(100% + 6px);
      height: 100%;
      position: absolute;
      top: 0;
      left: -3px;
      z-index: -1;
    }

    &:after {
      content: "";
      background-color: color(f);
      width: 100%;
      height: calc(100% + 6px);
      position: absolute;
      top: -3px;
      left: 0;
      z-index: -1;
    }
  }

  &.gilded {
    .MCDItemTileInnerBoxBody {
      background: url('../../../../static/img/UI/GildedBackground.png');
      background-size: cover;
    }

    img {
      filter: drop-shadow(4px 8px 0px rgba(color(0), .5));
    }

    .MCDItemLevel {
      background-color: rgba(color(0), .5);
    }
  }

  &SoulGathering {
    position: absolute;
    top: 6px;
    right: 5px;
    @include font-size(14);
    z-index: 5;
  }

  &Level {
    position: absolute;
    bottom: 3px;
    right: 3px;
    z-index: 5;
    @include font-family('opensans', 700);
    @include font-size(14);
    padding: 0 3px;

    i {
      @include font-size(10);
      color: darken(color(f), 25);
    }
  }

  &Enchanted {
    position: absolute;
    top: 5px;
    left: 7px;
    z-index: 5;
    text-shadow: 1px 1px 5px color(0);
    color: color(f);
    @include font-family('open-sans', 700);
    @include font-size(14);

    i {
      color: #D372F4;
      @include font-size(14);
    }

    &+.MCDItemTile .MCDItemTileInnerBox:after {
      content: '';
      background: radial-gradient(circle at 50%, rgba(#D372F4, .4), transparent 60%);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
