@import '~styles/utilities.scss';

.MCDItemEnchantmentList {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 20px);

  &Title {
    @include font-family('open-sans', 700);
    @include set-font-scale(l);
    text-align: center;
    width: 100%;
  }

  &Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
  }
}
