@import '@/assets/scss/utilities.scss';

.MCDRarityLabel {
  @include font-family('opensans', 700);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  text-transform: uppercase;
  box-shadow: 3px 2px 0 rgba(color(0), .5);
  color: color(0);
  user-select: none;
  -webkit-user-select: none;

  &.unique {
    background: linear-gradient(to bottom, #F78200 0%, #E75200 100%);
  }

  &.rare {
    background: linear-gradient(to bottom, #10EB94 0%, #08A160 100%);
  }
  
  &.common {
    background: linear-gradient(to bottom, #BDBABD 0%, #797879 100%);
  }
}
