@import "@/assets/scss/utilities.scss";

.MCDTowerConfiguration {
  padding: 0 16px;

  &Title {
    @include font-size(18);
    @include font-family('open-sans', 700);
    text-transform: uppercase;
    text-shadow: 3px 2px 0 rgba(color(0), .5);
    margin-bottom: 16px;
  }

  &FloorList {
    list-style: none;
    padding: 0 4px 0 0;
    margin: 0;
    max-height: calc(100vh - 169px);
    overflow: auto;
  }

  #towerConfigModal {
    max-width: 95%;
    width: 80%;
    height: 80%;
  }
}
