@import '@/assets/scss/utilities.scss';

.ContextMenu {
  list-style: none;
  padding: 8px 0;
  margin: 0;
  background-color: lighten(desaturate(adjust-hue(color(primary), 30), 2.67), 4.90);
  min-width: 265px;
  position: absolute;
  z-index: 99;

  &.top {
    top: -8px;
  }

  &.right {
    left: 100%;
  }

  &.bottom {
    top: 100%;
  }

  &.left {
    left: 0;
  }
}
