@font-face {
  font-family: 'icomoon';
  src: url('~fonts/icomoon/icomoon.eot?ws6lg2');
  src: url('~fonts/icomoon/icomoon.eot?ws6lg2#iefix') format('embedded-opentype'),
       url('~fonts/icomoon/icomoon.ttf?ws6lg2') format('truetype'),
       url('~fonts/icomoon/icomoon.woff?ws6lg2') format('woff'),
       url('~fonts/icomoon/icomoon.svg?ws6lg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icon';
  src: url('~fonts/icon/icon.eot?ws6lg2');
  src: url('~fonts/icon/icon.eot?ws6lg2#iefix') format('embedded-opentype'),
       url('~fonts/icon/icon.ttf?ws6lg2') format('truetype'),
       url('~fonts/icon/icon.woff?ws6lg2') format('woff'),
       url('~fonts/icon/icon.svg?ws6lg2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$icons: (
  minimize     : ('icomoon', '\e900'),
  maximize     : ('icomoon', '\e901'),
  close        : ('icomoon', '\e902'),
  help         : ('icomoon', '\e903'),
  warning      : ('icomoon', '\e904'),
  check        : ('icomoon', '\e905'),
  eye          : ('icomoon', '\e906'),
  eye-slash    : ('icomoon', '\e907'),
  edit         : ('icomoon', '\e908'),
  duplicate    : ('icomoon', '\e909'),
  delete       : ('icomoon', '\e90a'),
  reload       : ('icomoon', '\e90b'),
  import       : ('icomoon', '\e90c'),
  export       : ('icomoon', '\e90d'),
  search       : ('icomoon', '\e90e'),
  calendar     : ('icomoon', '\e90f'),
  save         : ('icomoon', '\e910'),
  add          : ('icomoon', '\e911'),
  remove       : ('icomoon', '\e912'),
  settings     : ('icomoon', '\e913'),
  melee        : ('icon'   , '\e900'),
  armor        : ('icon'   , '\e901'),
  ranged       : ('icon'   , '\e902'),
  artefact     : ('icon'   , '\e903'),
  soulgathering: ('icon'   , '\e904'),
  enchanted    : ('icon'   , '\e905'),
  all          : ('icon'   , '\e906'),
  helm         : ('icon'   , '\e907'),
  cosmetic     : ('icon'   , '\e908'),
  checked      : ('icon'   , '\e909'),
  dlc          : ('icon'   , '\e90a'),
);

@mixin icon($iconName) {
  content: nth(map-get($icons, $iconName), 2);
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: #{nth(map-get($icons, $iconName), 1)} !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
