html {scroll-behavior: smooth;}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: color(primary);
  color: invert(color(primary));
  outline: none;
}

html,body,header,main,footer,aside,section,article,nav,menu,picture {display: block;}

* {box-sizing: border-box;}

/* IMG */
img, picture {
  outline: none;
  border: none;
  width: 100%;
  height: auto;
}

picture {width: 100%;}

/* BUTTONS & INPUTS */
button,.button,.pointer,a,input[type="submit"],select {cursor: pointer;}
button {
  padding: 0;
  font-size: inherit;
  border: none;
  color: inherit;
}

button, .btn {
  border-radius: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {cursor: text;}

textarea,input,button,a,select {outline: none;}

textarea {resize: none;}

input, select, textarea {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  appearance: textfield;
  border: none;
  font-size: inherit;
}

@include placeholder {
	color: inherit;
	opacity: 1;
}

/* TEXT ELEMENTS */
.hover {text-decoration: none;}
.hover:hover {text-decoration: underline;}
b,strong {font-weight: 700;}
em {font-style: italic;}
.text-uppercase {text-transform: uppercase;}
.text-nowrap {white-space: normal;}
.text-truncate {
  display: block;
  text-overflow: ellipsis;
}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
a {color: inherit;}
a,img,button,select,textarea {-webkit-tap-highlight-color: transparent;}

/* DISPLAY & POSITION & WIDTH/HEIGHT */
.d-none {display: none !important;}
.d-block {display: block !important;}
.d-iblock {display: inline-block !important;}
.d-flex {display: flex !important;}
.d-iflex {display: inline-flex !important;}

.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.sticky {position: sticky;}

.w-100 {width: 100%;}
.w-75 {width: 75%;}
.w-66 {width: 66.6666%;}
.w-50 {width: 50%;}
.w-33 {width: 33.3333%;}
.w-25 {width: 25%;}
.w-20 {width: 20%;}
.w-auto {width: auto;}

.h-100 {height: 100%;}
.h-75 {height: 75%;}
.h-66 {height: 66.6666%;}
.h-50 {height: 50%;}
.h-33 {height: 33.3333%;}
.h-25 {height: 25%;}
.h-20 {height: 20%;}
.h-auto {height: auto;}

body.modal:before {
  content: '';
  opacity: .8;
  background-color: color(0);
  width: 100vw;
  height: calc(100vh - 30px);
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 9;
  cursor: pointer;
}