@import '~styles/utilities.scss';

.m-datatable-bodyrow {
  &__container {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .m-datatable-column {
    @include set-font-scale('s');
  }
}